@import "mixins.css.sass"

.table.category 
  @include bordered
  border-collapse: separate
  -webkit-border-radius: 5px
  border-radius: 5px

  th, td
    vertical-align: middle
    border-top-width: 1px
    border-top-style: solid

  th.title
    text-align: center
    -webkit-border-top-left-radius: 5px
    -webkit-border-top-right-radius: 5px
    border-top-left-radius: 5px
    border-top-right-radius: 5px

  th.sort-asc:after
    content: '⇡'
  th.sort-desc:after
    content: '⇣'

  .size
    width: 70px
  .seeders
    width: 70px
  .actions
    width: 67px

  thead tr:first-child th
    line-height: 25px
    padding-bottom: 7px
    .search
      position: absolute
      .add-on
        margin-right: -5px


